dist: xenial   # required for Python >= 3.7
language: python
install: pip install -U tox-travis coveralls
before_install:
  - wget http://ftp.it.debian.org/debian/pool/main/g/graphviz/graphviz_2.38.0-17_amd64.deb
  - sudo dpkg -i --force-all graphviz_2.38.0-17_amd64.deb
  - sudo apt-get install -f
  - sudo apt-get update
  - sudo apt-get install graphviz
deploy:
  provider: pypi
  distributions: sdist bdist_wheel
  user: marcofavorito
  password:
    secure: V4UaoY8zEc989vaI8n3CsKBjm/BdmEqPqq6C7Yhn9iKfwedhKgdNL0I8SvojR6EV4aUWaTGNISyweAkzaUvSNzJ+/wNTEK6ofRGH24H/UBOohafCqA5XdPzWDyoSv8/noOMqHUVeseApJdqDKLVkP8ZJCaiRA3YZ3So9PVznZRy5FiZcD+yeRe5H+9Ho2IXSuQAKSQC8Vv1iQVtdtNq5Gf/RWqGuWTCVDbSMgp++xxBr6OLohb2O4kecBF/PZX1QCwDlltD3Gb6ta4XBOLkoeLwsLThY91tVc/ARQrNFQNyM3ykhLORIUQcP6/Up3tu50C+fjywKY/F1tYZqqq8Wg/tHMM9vgsxRwNwwbidkNrxlfrwnCD/7iLfte8LZH033GsVBFAZtlRNA5e8oAEQHx/SCS6yhoxTgQtWYK6WYFX42cqYSPeYAbu2tF+wOaXxB6dox2CCpYSzRGtzdkY//WfHQBBYvRKOGCjOjZR/PzfFj7yl0+IVg6ne/Jrb5WuoJhS/soFNWk3im+3tQCP7px4MCEb6ztT5HgNjs1Teqtu6IywllH7T2eDwdoT+qRrbFfQtfAFJqGuCjcazLowZUXhZjYqzH4TDUxFKDyz5e46i+4aFglzcenMUh1+ka1brGrNa8D1k4HXChDh4E57V44M9thnjrEcEFIuM98y5obVk=
  on:
    tags: true
    repo: marcofavorito/pythomata
    python: 3.7

matrix:
  include:
    - python: 3.7
      env: TOXENV=py37
    - python: 3.7
      env: TOXENV=flake8
#    - python: 3.7
#      env: TOXENV=mypy
#    - python: 3.7
#      env: TOXENV=docs

    - python: 3.6
      env: TOXENV=py36

script:
  - tox

after_success:
  - coveralls

