[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
bumpversion = "*"
watchdog = "*"
flake8 = "*"
tox = "*"
coverage = "*"
twine = "*"
Sphinx = "*"
hypothesis = "*"
hypothesis-pytest = "*"

[packages]
pydot = "*"
graphviz = "*"
pyparsing = "*"

[requires]
python_version = ">=3.6"
