[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
flake8 = "*"
flake8-docstrings = "*"
tox = "*"
tox-travis = "*"
coverage = "*"
twine = "*"
hypothesis = "*"
hypothesis-pytest = "*"
mypy = "*"
black = "==19.3b0"
mkdocs = "*"
markdown-include = "*"
coveralls = "*"
tox-pipenv = "*"
pytest-cov = "*"
ipython = "*"

[packages]
graphviz = "*"
sympy = "*"

[requires]
python_version = "3.7"
